.plans-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
  padding-bottom: 20px;
  & > h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: $black;
  }
  & > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #848199;
    padding-bottom: 15px;
  }
  & > .plans-tumbler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    position: relative;
    width: fit-content;
    & > input {
      display: none;
    }
    & > label {
      position: relative;
      z-index: 2;
      width: 50%;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      padding: 13px 24px;
      transition: color .5s ease;
      color: black;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }
    & input[type="radio"]:checked + label {
      box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
      border-radius: 22px;
      color: white;
    }
    input[id="Monthly"]:checked ~ .glider {
      transform: translateX(0);
    }
    input[id="Yearly"]:checked ~ .glider {
      transform: translateX(100%);
    }
    .glider {
      position: absolute;
      left: 0;
      display: flex;
      transition: all .5s ease;
      z-index: 1;
      width: 50%;
      border-radius: 99px;
      height: 100%;
      background-color: #bb6bd9;
    }
  }
}
@media (min-width: $screenWidth) {
  .plans-title {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 90px;
    & > h2 {
      flex-basis: 100%;
      text-align: start;
    }
    & > p {
      flex-basis: 65%;
      padding: 0;
    }
  }
}
